        <main>

            
{{#if error}}
            <div class="error-box">
            <p>{{error.message}}</p>
        </div>
{{/if}}

            <section id="all-ads-page">
                <article class="all-ads-title">
                    <h1>All ads</h1>
                </article>

                <!--If there are job ads in the database, show each one-->
              
                    {{#if items}}

                    {{#each items}}
                        {{>item}}
                    {{/each}}

                    {{else}}
                <article class="not-available-ads">
                    <h1>No ads created yet.</h1>
                    <h2>Join and find your perfect workers.</h2>
                </article>
                    {{/if}}

                <!--If there are still no job ads in the database display:-->
                <!--<article class="not-available-ads">
                    <h1>No ads created yet.</h1>
                    <h2>Join and find your perfect workers.</h2>
                </article>-->

            </section>
        </main>