
    <header>
        <nav>
            <ul class="navigation">
                <li><a href="/">Home Page</a></li>
                <li><a href="/cats/add-breed">Add Breed</a></li>
                <li><a href="/cats/add-cat">Add Cat</a></li>
            </ul>
        </nav>
        <h1>Cat Shelter</h1>

         <form action="/search">
            <input type="text">
            <button type="button">Search</button>
         </form>
         
    </header>

    <main>
        <section class="cats">
            <ul>

                {{#each cats}}
                    {{>cat}}
                {{/each}}

            </ul>
        </section>
    </main>

