

        <main>
            <form class="search"  method="POST">
                <input type="search" name="text" placeholder="Search here...">
                <button type="submit">Search</button>
            </form>

        </main>

