

    <main>
        <section class="crypto-search">
            <h1>Search</h1>

            <form class="search-form"  method="GET">
                <input type="text" class="search-coin" name="text" placeholder="Search here..." {{#if text}} value="{{text}}" {{/if}}>
                <select id="payment" name="payment">
                    <option value="">All methods</option>
                    <option value="crypto-wallet">Crypto Wallet</option>
                    <option value="credit-card">Credit Card</option>
                    <option value="debit-card">Debit Card</option>
                    <option value="paypal">PayPal</option>
                </select>
                <button type="submit" class="btn-search">Search</button>
            </form>

            <div class="search-result">
                {{#if allCrypto}}

                    <div class="search-list">
                       {{#each allCrypto}}
                       {{>crypto}}
                       {{/each}}
                    </div>
                {{else}}
                    <div class="no-match">
                        <p>No match was found!</p>
                    </div>
                {{/if}}

            </div>
            
            <!--  -->
        </section>
    </main>

  