    
    <main>
        <section class="container" id="shared-trips-page">
            <header class="trip">
                <h1>Welcome Sharetripers!</h1>
                <p class="lead">Sharedtrip is the best way to road across the country.</p>
                <p class="lead">Find yours Sharedtrip's buddies, when you share with us yours trip plans and let the
                    exploration begin!</p>
            </header>
            <div class="row text-center">
                <!-- If there are shared trips in the database display each of them -->

                {{#if items}}

                {{#each items}}
                    {{>item}}
                {{/each}}


                {{else}}
                    <div class="no-trips">
                        <img src="https://www.stagweb.co.uk/img/activities/big/sexyhitchhiker1.jpg" />
                        <p class="lead">Hitchhiker time...</p>
                    </div>
                {{/if}}



                <!-- If there are no shared trips in the database -->
 

            </div>
        </section>
    </main>






    
    
    
    
    
        {{!-- <main>

            
{{#if error}}
            <div class="error-box">
            <p>{{error.message}}</p>
        </div>
{{/if}}

            <section id="all-ads-page">
                <article class="all-ads-title">
                    <h1>All ads</h1>
                </article>

                <!--If there are job ads in the database, show each one-->
              
                    {{#if items}}

                    {{#each items}}
                        {{>item}}
                    {{/each}}

                    {{else}}
                <article class="not-available-ads">
                    <h1>No ads created yet.</h1>
                    <h2>Join and find your perfect workers.</h2>
                </article>
                    {{/if}}

                <!--If there are still no job ads in the database display:-->
                <!--<article class="not-available-ads">
                    <h1>No ads created yet.</h1>
                    <h2>Join and find your perfect workers.</h2>
                </article>-->

            </section>
        </main> --}}