

        <main>

            <!-- In case of error, display the following div-->
            <!--

            <div class="error-box">
                <p>Show each error in a separate paragraph</p>
            </div>

            -->

            <!-- Edit Page -->
            <section id="create-section">

                <h1 class="item">Edit Auction</h1>

                <div class="item padded align-center">

                    <form class="layout left large" method="POST" >

                        <div class="col aligned">
                            <label>
                                <span>Title</span>
                                <input type="text" name="title" value="{{currentItem.title}}"></label>
                            <label>
                                <span>Category</span>
                                <select name="">
                                    <option value="estate">Real Estate</option>
                                    <option value="vehicles">Vehicles</option>
                                    <option value="furniture">Furniture</option>
                                    <option value="electronics">Electronics</option>
                                    <option value="other">Other</option>
                                </select>
                            </label>
                            <label>
                                <span>Image URL</span>
                                <input type="text" name="imageUrl" value="{{currentItem.imageUrl}}">
                            </label>
                            <label>
                                <span>Starting price</span>

                                <!-- If the current auction has a bidder, this input field should be disabled -->
                                <input type="number" name="number" value="5000">
                            </label>
                        </div>

                        <div class="content pad-med align-center vertical">
                            <label>
                                <span>Description</span>
                                <textarea name="description">{{currentItem.description}}</textarea>
                            </label>

                            <div class="align-center">
                                <input class="action" type="submit" value="Update Listing">
                            </div>
                        </div>

                    </form>

                </div>

            </section>

        </main>
